.flex-parent {
  display: flex;
}
.flex-parent__column {
  @extend .flex-parent;
  flex-direction: column;
}
.flex-parent__wrap {
  @extend .flex-parent;
  flex-wrap: wrap;
}
.flex-parent__centerboth {
  @extend .flex-parent;
  justify-content: center;
  align-items: center;
}
.flex-parent__centermain {
  @extend .flex-parent;
  justify-content: center;
}
.flex-parent__centercross {
  @extend .flex-parent;
  align-items: center;
}
.flex-parent__spacebetween {
  @extend .flex-parent;
  justify-content: space-between;
}
.flex-parent__spacearound {
  @extend .flex-parent;
  justify-content: space-around;
}
.flex-parent__flexend {
  @extend .flex-parent;
  justify-content: flex-end;
}

.flex-child {
  flex: 0 1 auto;
}
.flex-child__fill {
  flex: 1 1 auto;
}
.flex-child__50 {
  flex: 1 1 50%;
}
.flex-child__75 {
  flex: 1 1 75%;
}
.flex-child__25 {
  flex: 0 1 25%;
}
.flex-child__33 {
  flex: 1 1 33.333%;
}
.flex-child__66 {
  flex: 1 1 66.667%;
}
.flex-child__100 {
  flex: 1 1 100%;
}
.flex-child__auto {
  flex: 0 0 auto;
}
