$darkgreen: #17571c;
$lightgreen: #45a44d;
$bishopfox: #59327e;
$brown: rgb(108, 63, 50);
$offwhite: #fafafa;
$text: #242424;
$lightgray: #f3eff7;
$darkgray: #a2a2a2;
$primary: $bishopfox;
$darkprimary: darken($primary, 10%);
$secondary: $darkprimary;
$negative: #db2828;
$darkbkg: $text;

:export {
  darkgreen: $darkgreen;
  lightgreen: $lightgreen;
  brown: $brown;
  offwhite: $offwhite;
  text: $text;
  lightgray: $lightgray;
  darkgray: $darkgray;
  primary: $primary;
  darkprimary: $darkprimary;
  secondary: $secondary;
  darkbkg: $darkbkg;
}
